#aboutudyam {
  /*background-color: black;*/
  color: white;
  margin: 10px;
  /*padding-bottom: 500px;*/
}
.mainimg {
  margin: 10px;
}
.play-btn{
  width: 60px;
  position:relative;
  top: -50%;
  opacity: 0;
  transition: 0.5;
}

.mainimg:hover .play-btn{
  opacity: 1;
}
.modal-content{
  background: transparent;
  border: none !important;
}