{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Udyam'21|Forgot Password</title>
    <link rel = "icon" href =  "{% static 'Assets/logo2.ico' %}" type = "image/x-icon">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'Css/email.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form method="POST" class="forgot-p-form">{% csrf_token %}
            <h2 class="title">Recover now</h2>
            <p>Please provide registered email address below</p>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              {{ form.email }}
              {% for field in form %}
              {% if field.error %}
                <p style="color: red;">{{ field.error }}</p>
              {% endif %}
              {% endfor %}
            </div>
            <input type="submit" value="SEND" class="btn solid" />
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <img src="{% static 'Assets/UDYAM_21.png' %}" class="image1" alt="" />
          <img src="{% static 'Assets/password.svg' %}" class="image" alt="" />
        </div>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          $("#id_email").attr('placeholder', 'Email');
      });
    </script>
    <script src="{% static 'Javascript/app.js'%}"></script>
  </body>
</html>        