{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Udyam'21|Forgot password</title>
    <link rel = "icon" href =  "{% static 'Assets/logo2.ico' %}" type = "image/x-icon">
</head>
<body>
	<h1>Enter New Password</h1>
	<form method="POST">{% csrf_token %}
	    {{form}}
	    <button type="submit">Reset Password</button>
	</form>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          $("#id_new_password1").attr('placeholder', 'Password');
          $("#id_new_password2").attr('placeholder', 'Confirm Password');
      });
    </script>
</body>
</html>