{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Udyam'21|Forgot password</title>
    <link rel = "icon" href =  "{% static 'Assets/logo2.ico' %}" type = "image/x-icon">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
	<style type="text/css">
		body{
			background-color: #3d6d8d;
		}
		h1{
			padding-top: 20px;
			color: #303030;
			text-align: center;
			font-family: 'Roboto', sans-serif;
		}
		a{
			text-decoration: none;
			color: #eeeeee;
		}
		img{
			height: 7%;
			width: 21%;
		}
	</style>
</head>
<body>
	<a href="{% url 'home' %}"><img src="{% static 'Assets/udyamwhite2.png' %}"></a>
	<h1>Your password is changed succesfully!! you can <a href="{% url 'login' %}">login</a> here.</h1>
</body>
</html>