{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'Css/email.css' %}" />
    <title>Udyam'21|Forgot password</title>
    <link rel = "icon" href =  "{% static 'Assets/logo2.ico' %}" type = "image/x-icon">
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form method="POST" class="forgot-p-form">{% csrf_token %}
            <h2 class="title">Reset Password</h2>
            <p>Enter your new password below</p>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              {{ form.new_password1 }}
            </div>
            {% for error in form.new_password1.errors %}
              <p style="color: red;">{{ error }}</p>
            {% endfor %}
            <div class="input-field">
              <i class="fas fa-lock"></i>
              {{ form.new_password2 }}
            </div>
            {% for error in form.new_password2.errors %}
              <p style="color: red;">{{ error }}</p>
            {% endfor %}
            <input type="submit" value="Update" class="btn solid" />
            <!-- <p1>*Do not worry, we will update your password as soon as possible. </p1> -->
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <img src="{% static 'Assets/UDYAM_21.png' %}" class="image1" alt="" />
          <img src="{% static 'Assets/password.svg' %}" class="image" alt="" />
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          $("#id_new_password1").attr('placeholder', 'Password');
          $("#id_new_password2").attr('placeholder', 'Confirm Password');
      });
    </script>
    <script src="{% static 'Javascript/app.js' %}"></script>
  </body>
</html>        