
<p>
	Hello Team {{ teamname }},<br>
	<br>
	You have succesfully registered for {{ event.eventname }}.<br>
	<br>
	Your Team deatails are:<br>
	<br>
	Team name: {{ teamname }}<br>
	Team Leader: {{ leader }}<br>
	<br>
	<b>NOTE:</b> If you find this mail in SPAM Folder, please right click on the email and click on 'NOT SPAM' to ensure that we can contact you further on. <br>
	<br>
	Most of the information will be discussed on our WhatsApp groups and you can also clarify your queries there directly with our team. So, we insist you to join our WhatsApp group. <br>

	<br>

	Follow the link to join our WhatsApp group -- <a href="{{ event.group_link }}">Join</a>

</p>